$DARK_BLUE: #00124e;
$EPOPIA_GREEN: #38b6ab;
$EPOPIA_YELLOW: #ffdc01;
$EPOPIA_PURPLE: #742985;
$EPOPIA_RED: #d52f16;
$EPOPIA_ORANGE: #f3c144;
$LIGHT_BLUE: #e1e5f5;
$LIGHT_GREEN: #e2eeed;
$DARK_GRAY: #616b75;
$GRAY: #a1a1a1;
$LIGHT_GRAY: #bbbdc0;
$LIGHTER_GRAY: #f2f2f2;
$WHITE: #ffffff;
$SUCCESS: #2cb753;
$WARNING: #fbaa30;
$DANGER: #ed4b46;

label.label,
input {
  color: $DARK_BLUE;
}
